.header1 {
    background-color: #eee3e3;
    padding: 10px 70px;
}

.header1 a {
    float: right;
}

.header2 {
    margin: 0px;
    border-radius: 0px;
    padding-left: 55px;
    padding-right: 55px;
    box-shadow: 0px 0px 13px #0d1833;
}

.header2 li {
    padding-left: 20px;
}

.link {
    color: white !important;
}